In [1]:
import pandas as pd
path = "../data/raw/Electronics_5.json"
df = pd.read_json(path, lines=True)
print(df.shape)
df.head()

(1689188, 9)

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,AO94DHGC771SJ,0528881469,amazdnu,"[0, 0]",We got this GPS for my husband who is an (OTR)...,5,Gotta have GPS!,1370131200,"06 2, 2013"
1,AMO214LNFCEI4,0528881469,Amazon Customer,"[12, 15]","I'm a professional OTR truck driver, and I bou...",1,Very Disappointed,1290643200,"11 25, 2010"
2,A3N7T0DY83Y4IG,0528881469,C. A. Freeman,"[43, 45]","Well, what can I say. I've had this unit in m...",3,1st impression,1283990400,"09 9, 2010"
3,A1H8PY3QHMQQA0,0528881469,"Dave M. Shaw ""mack dave""","[9, 10]","Not going to write a long review, even thought...",2,"Great grafics, POOR GPS",1290556800,"11 24, 2010"
4,A24EV6RXELQZ63,0528881469,Wayne Smith,"[0, 0]",I've had mine for a year and here's what we go...,1,"Major issues, only excuses for support",1317254400,"09 29, 2011"

In [ ]:
cols = [
    "reviewerID",
    "asin",
    "overall",
    "reviewText",
    "unixReviewTime"
]
df = df[cols]

In [ ]:
df = df.dropna(subset=["reviewerID", "asin", "overall"])
df = df[df["overall"].between(1, 5)]
df["reviewText"] = df["reviewText"].fillna("")

In [ ]:
user_counts = df["reviewerID"].value_counts()
item_counts = df["asin"].value_counts()
valid_users = user_counts[(user_counts >= 5) & (user_counts <= 50)].index
valid_items = item_counts[(item_counts >= 5) & (item_counts <= 100)].index
df = df[
    df["reviewerID"].isin(valid_users) &
    df["asin"].isin(valid_items)
]

In [ ]:
df = df.sample(n=500_000, random_state=42)
print(df.shape)

In [ ]:
import matplotlib.pyplot as plt
df["overall"].value_counts().sort_index().plot(kind="bar")
plt.title("Rating Distribution")
plt.show()